<h1>Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price_in_cents %></td>
        <td><%= link_to "Edit", edit_product_path(product) %></td>
        <td><%= link_to "Show", product_path(product) %></td>
        <td><%= link_to "Delete", product_path(product), 
                :method => :delete, 
                :confirm => "Are you sure?" %>
        </td>
      </tr>    
    <% end %>
  </tbody>
</table>

<%= link_to "Add a product", new_product_path %>