 <h1><%= @product.name %></h1>

<p>Description:</p>

<p><%= @product.description %></p>

<p>Price: $<%= @product.price_in_dollars %></p>

 <% if current_user %>
<%= render :partial => "reviews/form" %>
<% end %>

<p>
  <%= link_to "Edit", edit_product_path(@product) %>
  <%= link_to "Delete", @product, 
                  :method => :delete, 
                  :confirm => "Are you sure?" %>
</p>

<h2>Reviews:</h2> 

<%= render @product.reviews %>

<% if current_user %>
  <%= render "reviews/form" %>
<% else %>
  To write a review,
  <%= link_to "Log in", new_session_path %>
  or 
  <%= link_to "Sign up", new_user_path %>.
<% end %>
