<<<<<<< HEAD
<%= form_for @review do |f| %>
<p>
<%= f.label :comment %><br>
<%= f.text_area :comment %><br>
</p>

<%= f.submit %>
<% end %>
=======
<%= form_for [@product, @review] do |f| %>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>

  <%= f.submit %>
<% end %>
>>>>>>> wtony
